h4{
    color: brown;
}
.dish{
    margin: 8px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: darkcyan;
    display: flex;
    flex-direction: 'row';
    align-items: center;
    justify-content: center;      
}

ul {
  list-style-type: none;
  text-align: left;
}

.dish-form-icon {
  margin-top: 1rem !important;
  margin-left: 1rem !important;
}

.card {
  max-width: 200px;
  margin: 1rem;
  display: flex;
  flex-direction: 'row';
  align-items: center;
  justify-content: center;     
}