{{page-title "Band"}}
<nav class="rr-navbar" role="navigation">
    <ul class="rr-nav">
        <li class="rr-navbar-item">{{link-to "Details" "bands.band.details"}}</li>
        <li class="rr-navbar-item">{{link-to "Songs" "bands.band.songs"}}</li>
    </ul>
</nav>
{{outlet}}