<div class="jumbotron text-center">
    <form>
        {{input type="text" class="form-control" placeholder="Nombre lista..."}}
        {{input type="submit" class="btn btn-success" value="Crear lista"}}
    </form>
</div>