<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Propiedades componentes en Vue.js</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="icon" href="https://vuejs.org/images/logo.png">
</head>
<body>

  <main id="app" class="container">
    <h1>Propiedades componentes en Vue.js</h1>

    <show v-for="show in shows"
                :name="show.name"
                :poster="show.image.medium"
                :rating="show.rating.average"
                :genres="show.genres"
                >
    </show>
    <!--<pre>{{ $data }}</pre>-->
  </main>

  <template id="show">
    <figure>
      <img :src="poster" :alt="name">
      <figcaption>
        <h3>{{ name }}</h3>
        <p>Calificación: <b>{{ rating }}</b></p>
        <p>Géneros:</p>
        <ul>
          <li v-for="genre in genres" v-text="genre"></li>
        </ul>
      </figcaption>
    </figure>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    Vue.component('show', {
      //props: [ 'name', 'poster', 'rating', 'genres' ],
      props: {
        name: {
          type: String,
          required: true
        },
        poster: String,
        rating: Number,
        genres: {
          type: [String, Array],
          required: true,
          default: 'No genre'
        }
      },
      template: '#show',
    })

    const mv = new Vue({
      el: '#app',
      mounted () {
          axios.get('http://api.tvmaze.com/shows')
            .then(res => {
              console.log(res)
              this.shows = res.data
            })
      },
      data: {
        shows: []
      }
    })
  </script>
</body>
</html>
