{{page-title "Product detail"}}

<ProductDetail @product={{@model}} />

<LinkTo @route="products">
    <button type="button">Regresar</button>
</LinkTo>
&nbsp;
<LinkTo @route="products">
    <button type="button">Editar</button>
</LinkTo>
&nbsp;
<LinkTo @route="products">
    <button type="button">Eliminar</button>
</LinkTo>