{{page-title "Products"}}

<h2>Products</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Product name</th>
        <th>Type</th>
    </tr>
    <ProductList @product={{@model}} />
</table>