{{page-title "Products"}}

<h2>Products</h2>

<LinkTo @route="product/new">
    <button type="button">Nuevo</button>
</LinkTo>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Detalle</th>
    </tr>
    <ProductList @product={{@model}} />
</table>