{{page-title "Products"}}

<h2>Products</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Detalle</th>
    </tr>
    <ProductList @product={{@model}} />
</table>