{{#each @product as |product|}}
    <tr>
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>
            <LinkTo @route="product" @model={{product.id}}>
            <button type="button">Detalle</button>
            </LinkTo>
        </td>
    </tr>
{{/each}}