<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Acerca de Super Rentals</h2>
    <p>
        Super Rentals website es un proyecto encantador creado para explorar Ember.
        Al construir un sitio de alquiler de propiedades, podemos imaginarnos viajando simultáneamente
        y construyendo aplicaciones Ember.
    </p>
    <LinkTo @route="contact" class="button">Contactenos</LinkTo>
</div>