<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Bienvenido a Super Rentals!</h2>
    <p>Esperamos que encuentre exactamente lo que está buscando en un lugar para quedarse.</p>
</div>