<Jumbo>
    <h2>Bienvenido a Super Rentals!</h2>
    <p>Esperamos que encuentre exactamente lo que está buscando en un lugar para quedarse.</p>
    <LinkTo @route="about" class="button">Sobre nosotros</LinkTo>
</Jumbo>

<Rentals @rentals={{@model}} />