body {
background: #06073a; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #06073a, #262e78); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #06073a, #262e78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
font-size: 34px;
color: white;
font-family: 'Playfair Display', serif;
}
form {
margin: 50px auto;
}
.contenido-principal {
margin: 50px auto;
background-color: white;
-webkit-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
}
.mensajes {
color: white;
text-align: center;
}
#resultado {
text-align: center;
}
.btn {
 width: 100%;
}
.spinner {
text-align: center;
}
label{
    font-size: 16px;
    color: #06073a;
}
p{
    font-size: 16px;
}