html {
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, rgb(69, 125, 178) 0%, rgb(24, 74, 212) 52%, rgb(0, 4, 255) 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

header {
  margin-top: 3rem;
}
header h1 {
  color: white;
}
.lista-articulos .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-articulos .media:last-of-type{
  border-bottom: 0;
}
.lista-articulos .media-body p {
  margin:0;
}
.lista-articulos .media-body button {
  margin-top: 1rem!important;
}
.lista-articulos .media-body span {
  font-weight: bold;
}