<nav class="menu">
    <LinkTo @route="index" class="menu-index">
        <h1>SuperRentals</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="about" class="menu-about">
            Acerca
        </LinkTo>
        <LinkTo @route="contact" class="menu-contact">
            Contacto
        </LinkTo>
    </div>
</nav>