<article class="rental">
<Rental::Image src="https://upload.wikimedia.org/wikipedia/commons/c/cb/Crane_estate_(5).jpg"
    alt="Una imagen de Gran mansión antigua" />
    <div class="details">
        <h3>Gran mansión antigua</h3>
        <div class="detail owner">
            <span>Dueño:</span> Veruca Salt
        </div>
        <div class="detail type">
            <span>Tipo:</span> Único
        </div>
        <div class="detail location">
            <span>Ubicación:</span> San Francisco
        </div>
        <div class="detail bedrooms">
            <span>Numero de habitaciones:</span> 15
        </div>
    </div>
</article>